<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wegoo.saasdao.mapper.ClassInfoCommentMapper" >
  <resultMap id="BaseResultMap" type="com.wegoo.model.po.ClassInfoComment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="class_info_id" property="classInfoId" jdbcType="BIGINT" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="available" property="available" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, class_info_id, nickname, comment, create_time, modify_time, available, 
    merchant_id
  </sql>
  <select id="getClassInfoCommentListByClassInfoId" resultMap="BaseResultMap" parameterType="com.wegoo.model.po.ClassInfoComment" >
    select
    <include refid="Base_Column_List" />
    from saas_class_info_comment
    where available=1
    and merchant_id = #{merchantId,jdbcType = VARCHAR}
    and class_info_id = #{classInfoId,jdbcType = BIGINT}
    and user_id = #{userId,jdbcType = VARCHAR}
  </select>
  <select id="getClassInfoCommentList" resultMap="BaseResultMap" parameterType="com.wegoo.model.po.ClassInfoComment" >
    select 
    <include refid="Base_Column_List" />
    from saas_class_info_comment
    where available=1
    and merchant_id = #{merchantId,jdbcType = VARCHAR}
    and class_info_id = #{classInfoId,jdbcType = BIGINT}
    order by create_time desc
  </select>
  <insert id="insertSelective" parameterType="com.wegoo.model.po.ClassInfoComment" >
    insert into saas_class_info_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="classInfoId != null" >
        class_info_id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="available != null" >
        available,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="classInfoId != null" >
        #{classInfoId,jdbcType=BIGINT},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="available != null" >
        #{available,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wegoo.model.po.ClassInfoComment" >
    update saas_class_info_comment
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="classInfoId != null" >
        class_info_id = #{classInfoId,jdbcType=BIGINT},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="available != null" >
        available = #{available,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>