<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wegoo.saasdao.mapper.UserCertificationMapper">
    <resultMap id="BaseResultMap" type="com.wegoo.model.po.UserCertification">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="id_card_num" property="idCardNum" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="merchant_id" property="merchantId" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="profession" property="profession" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="available" property="available" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, real_name,user_id, phone, id_card_num, merchant_id, sex,
        city,profession, create_time, modify_time, available
    </sql>
    <sql id="Insert_Column_List">
        real_name,user_id, phone ,id_card_num, merchant_id, sex,
        city,profession, create_time, modify_time, available
    </sql>
    <!--实名认证-->
    <insert id="insert" parameterType="com.wegoo.model.po.Certification">
        insert into saas_user_certification
        <trim prefix="(" suffix=")" suffixOverrides=",">
            create_time,
            <if test="realName != null">
                real_name,
            </if>
            <if test="idCardNum != null">
                id_card_num,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="merchantId != null">
                merchant_id,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="profession != null">
                profession,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            available
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            now(),
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="idCardNum != null">
                #{idCardNum,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="merchantId != null">
                #{merchantId,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="profession != null">
                #{profession,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            1
        </trim>

    </insert>

    <select id="getCertificationInfoByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from saas_user_certification
        where user_id = #{userId,jdbcType=VARCHAR}
        AND available = 1
    </select>

</mapper>